.bg-blue {
    background-color: #003049;
}

.bg-beige {
    background-color: #EAE2B7;
}

.bg-red {
    background-color: #D62828;
}

.text-blue {
    color: #003049;
}

.text-beige {
    color: #EAE2B7;
}

.text-red {
    color: #D62828;
}