.bg-blue {
    background-color: #003049 !important;
}

.bg-beige {
    background-color: #EAE2B7 !important;
}

.bg-red {
    background-color: #D62828 !important;
}

.text-blue {
    color: #003049 !important;
}

.text-beige {
    color: #EAE2B7 !important;
}

.text-red {
    color: #D62828 !important;
}

.test {
    color: #FFFFFF;
    text-decoration: none;
}

.taille{
    height: 100vh;
}